

.navbar{
    background: linear-gradient(to top right, #f58ac8c9 0%,#a035f8c9 100% );
}

.b_img{
    height: 50vh;
    opacity: 0.9;
}

.see_more{
    float: right;
    text-decoration: none;
    color: rgb(245, 103, 47);

}
.see_more2{
    float: right;
    color: maroon;
}
.cake_collection{
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.Custom{
   text-decoration: none;
   color: rgb(85, 26, 221);
}

footer{
    margin-top: 8%;
    padding: 10%;
    overflow-x: hidden;
}
input{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(38, 78, 104);
}
.card-img-top{
    width: 25px;
    height: 30vh;
}
.button{
    
    background-color: rgb(26, 252, 252);
    color: black;
    
}
.button1{
    background-color: coral;
    color: black;
}